<!-- Sidebar -->

<div class="sidebar">

    <div class="sidebar-header">

      <div class="logo-box">
        <img src="logo.png" style="width: 30px; height: 30px;">
      </div>

      <span class="app-name">Elevate360</span>

    </div>


    <nav class="nav flex-column">

      <a class="nav-link" routerLink="/training-overview"><img src="d.png" style="width: 20px; height: 20px; padding-right: 10px;"/>Training Overview</a>

      <a class="nav-link" routerLink="/om"> <img src="l.png" style="width: 20px; height: 20px; padding-right: 10px;"/> Ops Manager View</a>

      <a class="nav-link" routerLink="/certificates"> <img src="c.png" style="width: 20px; height: 20px; padding-right: 10px;"/> Certificates</a>

      <a class="nav-link" routerLink="/bqm"> <img src="b.png" style="width: 20px; height: 20px; padding-right: 10px;"/> BQM</a>

      <a class="nav-link" routerLink="/training-schedule"> <img src="sc.png" style="width: 20px; height: 20px; padding-right: 10px;"/> Training Schedule</a>

      <a class="nav-link" routerLink="/leads"> <img src="t.png" style="width: 20px; height: 20px; padding-right: 10px;"/> Top Performers</a>

      <a class="nav-link settings" routerLink="/settings"> <img src="s.png" style="width: 20px; height: 20px; padding-right: 10px;"/> Settings</a>

    </nav>

</div>